body {
  background-color: var(--main-color);
  color: var(--secondary-color);
  height: 100vh;
  font-family: var(--main-font);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  img {
    width: 5rem;
  }

  h1 {
    font-size: 1.5rem;
    span {
      animation: appear 2s forwards;
      opacity: 0;
      animation-delay: calc(0.2s * var(--i));
    }
  }
}

@media screen and (max-width: 450px) {
  header {
    flex-direction: column;

    h1 {
      text-align: center;
    }
  }
}

main {
  width: 60vh;
  height: 60vh;
  margin: 3rem auto;

  section {
    height: 100%;
    position: relative;
    border: 2px dotted white;
    border-radius: 50%;

    .circle {
      z-index: 1;
      background-color: var(--main-color);
      position: absolute;
      border: 1px solid var(--secondary-color);
      border-radius: 1rem;
      width: 12%;
      height: 15%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0.5rem;
      opacity: 0;
      animation: shadow 2s forwards;
      animation-delay: calc(1s * var(--i));

      .tech {
        width: 50%;
        margin: auto;
      }

      h4 {
        text-align: center;
      }
    }

    .circle:nth-child(1) {
      top: 0%;
      left: 43%;
    }

    .circle:nth-child(2) {
      top: 25%;
      left: 85%;
    }

    .circle:nth-child(3) {
      top: 60%;
      left: 85%;
    }

    .circle:nth-child(4) {
      top: 87%;
      left: 43%;
    }

    .circle:nth-child(5) {
      top: 60%;
      left: 0%;
    }

    .circle:nth-child(6) {
      top: 25%;
      left: 0%;
    }
  }

  h3 {
    margin: 5rem;
    text-align: center;
    animation: rollup 3s ease 0s 1 normal forwards;
  }
}

@media screen and (max-width: 450px) {
  main {
    width: 40vh;
    height: 40vh;
    margin: 3rem auto;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  div {
    display: flex;
    justify-content: space-around;

    h2,
    p {
      font-size: 0.8rem;
    }
  }
}

@keyframes rollup {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

@keyframes shadow {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    box-shadow: 3px 3px 15px -3px #0f4d99;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
